// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root{
    --ion-color-primary: #EFECE3;
    --ion-color-secundary: #8FABD4;
    --color-ternario: #4A70A9;
    --color-letras: #000000;

    --font-titulo: 'Poppins', sans-serif;
    --font-texto: 'Inter', sans-serif;

/*
Secundary
*/
}
