ion-toolbar {
  .close-btn {
    --color: #000000;
    margin-right: 10px;
  }

  .close-btn:hover {
    color: #4A70A9;
    cursor: pointer;
  }

  ion-title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }

}

ion-content {
  --background: #EFECE3;

  ion-textarea textarea {
    caret-color: #000 !important;
  }

  ion-textarea{
    --font-family: 'Inter', sans-serif;
    --font-size: 16px;
    --color: #000000;
  }

  ion-button{
    --background: #4A70A9;
    --color: #FFFFFF;
    --font-family: 'Poppins', sans-serif;
    --font-weight: bold;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 20px;
  }

  ion-button:hover {
    --background: #fff;
    --color: #000000;
    --box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  ion-chip{
    --background: #4A70A9;
    --color: #FFFFFF;
    --font-family: 'Poppins', sans-serif;
    --font-weight: bold;
  }

  ion-chip:hover {
    --background: #4176c5;
    --color: #000000;
  }

  ion-chip:active {
    --background: #fff;
    --color: #000000;
  }




}

